<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

    <!--    WHEN WE GIVE THERE createDatabase... by that if there havent any database with that name It automaticaly create the database  -->
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_gdse71?createDatabaseIfNotExist=true</property>

    <!--    HERE GIVE THE USER NAME AND PASSWORD  -->
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">0512</property>

    <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>

    <!--    <property name="hibernate.hbm2ddl.auto">create</property>-->
    <!--    CREATE = MEEKEDI WENNE DB EKE THINA HAMA EKAK MA DROP WELA AI CREATE WENNE  (MEEKEDI THINA DATA LOST WENAWA)-->

    <!--    <property name="hibernate.hbm2ddl.auto">update</property>-->
    <!--  UPDATE = UPDATE eke di wenne thina data base ekema thina ewa update wena eka eekedi data loss wimak wenn na  -->

    </session-factory>
</hibernate-configuration>